<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All cars</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th th:text="MODEL"></th>
        <th th:text="ENGINE"></th>
        <th th:text="YEAR"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cars : ${cars}">
        <td th:text="${cars.getModel()}">model</td>
        <td th:text="${cars.getEngine()}">engine</td>
        <td th:text="${cars.getYear()}">year</td>
    </tr>
    </tbody>
</table>
</body>
</html>